<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Debug-only: allow adb to launch these activities directly for testing -->
        <activity
            android:name=".ui.hosts.HostsSourcesActivity"
            android:exported="true"
            tools:replace="android:exported" />

        <activity
            android:name=".ui.hosts.FilterCatalogActivity"
            android:exported="true"
            tools:replace="android:exported" />

        <activity
            android:name=".ui.hosts.FilterListsImportActivity"
            android:exported="true"
            tools:node="merge"
            tools:replace="android:exported" />

        <activity
            android:name=".ui.hosts.SchedulesActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
